@using EventMgmt.Models;


@{
    ViewBag.Title = "Sponsershow";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UsersContext db = new UsersContext();
    var dtls = db.sponsorships.ToList();

}

<h2>ShowPAyout</h2>

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Orders Datatables</h4>
                        </div>

                        <a href="@Url.Action("createOrders","home")" class="btn btn-primary" style="margin-left:700px;">Add Order</a>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="datatable" class="table data-tables table-striped" border="1">


                                <thead>
                                    <tr class="ligth">
                                        <th>Productid</th>
                                        <th>rawproductname</th>
                                        <th>Orderquantity</th>
                                        <th>priceitem</th>
                                        <th>productimage</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>






                                <tbody>
                                    @foreach (var item in dtls)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.sponsorname</td>
                                            <td>@item.amount</td>
                                            <td>@item.eventid</td>
                                            <td>@item.date</td>
                                            <td>
                                                <a href="@Url.Action("EDitSponser", "home", new { id = item.id})">EDIT</a> |
                                                <a href="@Url.Action("DeleteSponser", "home", new { id = item.id})">DELETE</a>
                                            </td>



                                        </tr>


                                    }
                                </tbody>















                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

